@font-face {
  font-family: "Sectar";
  src: url('../fonts/Sectar.eot');
  src: url('../fonts/Sectar.eot') format('embedded-opentype'),
       url('../fonts/Sectar.woff2') format('woff2'),
       url('../fonts/Sectar.woff') format('woff'),
       url('../fonts/Sectar.ttf') format('truetype');
}
@font-face {
  font-family: "PressStart2P";
  /* src: url('../fonts/PressStart2P-Regular.eot');
  src: url('../fonts/PressStart2P-Regular.eot') format('embedded-opentype'),
       url('../fonts/PressStart2P-Regular.woff2') format('woff2'),
       url('../fonts/PressStart2P-Regular.woff') format('woff'), */
  src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  overflow-y: scroll; /* background-color:#0E021D; */
  width: 100%;
}
/* (orientation: portrait) and (max-width: 750px) and */
/* and (min-width:400px) */
